@font-face {
  font-family: 'GameFont';
  src: url('../public/assets/fonts/SuperCorn-X3xGg.ttf') format('truetype'); /* Change this to your actual font filename */
}

html, body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#renderCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
}